{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}
<section class="ftco-section">
      <div class="container">
          <div class="row justify-content-center mb-1 pb-3">
              <div class="col-md-7 heading-section ftco-animate text-center">
                  <h2 class="mb-4">Log in Page</h2>
                  <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
                  <p class="mt-5">lease enter your login and password!</p>
              </div>
          </div>
          <div class="row justify-content-md-center ">
                  <form method="post" action="{% url 'blog_login' %}">
                      <div class="col col-lg-auto mb-3">
                          {% csrf_token %}
                          {% render_field form.username placeholder='' class+="form-control" style="margin-bottom: 5px; width: 100%"%}
                          <label class="form-label" >Login</label>
                          {% render_field form.password placeholder='' class+="form-control" style="margin-bottom: 5px; width: 100%" %}
                          <label class="form-label" >Password</label>
                      </div>
                      <div class="row justify-content-md-center">
                          <input type="submit" class="btn  btn btn-white btn-outline-white ftco-animate" value="Submit" onclick="{% url 'blog_login' %}">
                      </div>
                  </form>
          </div>

          <div class="row justify-content-center ftco-animate">
              <p class="mt-5">Don't have an account? <a href="#!" class="text-white-50 fw-bold ">Sign Up</a>
              </p>
          </div>
      </div>
</section>


{% endblock %}