{% extends "base.html"%}
{% block content %}
{% load static %}

    <section class="home-slider owl-carousel img" style="background-image: url({% static 'images/bg_1.jpg' %});">

      <div class="slider-item" style="background-image: url({% static 'images/bg_3.jpg' %});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center">

            <div class="col-md-7 col-sm-12 text-center ftco-animate">
            	<h1 class="mb-3 mt-5 bread">Read our Blog</h1>
	            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Blog</span></p>
            </div>

          </div>
        </div>
      </div>
    </section>
    

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Read our blog</h2>
              <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
          </div>
        </div>
        <div class="row d-flex">
            {% for p in posts %}
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url({{p.image}});">
              </a>
              <div class="text py-4 d-block">
              	<div class="meta">
                  <div><p>{{p.published_date}}</p></div>
                  <div><p>{{p.user}}</p></div>
                  <div><p class="meta-chat"><span class="icon-chat"></span></p></div>
                </div>
                <h3 class="heading mt-2"><a href="{% url 'post' id=p.pk %}">{{p.title}}</a></h3>
                <p>{{p.short_text}}</p>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>
<!--        <div class="row mt-5">-->
<!--          <div class="col text-center">-->
<!--            <div class="block-27">-->
<!--              <ul>-->
<!--                <li><a href="#">&lt;</a></li>-->
<!--                <li class="active"><span>1</span></li>-->
<!--                <li><a href="#">2</a></li>-->
<!--                <li><a href="#">3</a></li>-->
<!--                <li><a href="#">4</a></li>-->
<!--                <li><a href="#">5</a></li>-->
<!--                <li><a href="#">&gt;</a></li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </section>

{% endblock %}