{% extends "base.html"%}
{% block content %}
{% load static %}
{% load widget_tweaks %}

    <section class="home-slider owl-carousel img" style="background-image: url({% static 'images/bg_1.jpg' %});">

      <div class="slider-item" style="background-image: url({% static 'images/bg_3.jpg' %});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center">

            <div class="col-md-7 col-sm-12 text-center ftco-animate">
            	<h1 class="mb-3 mt-5 bread">Read our Blog</h1>
	            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span class="mr-2"><a href="blog.html">Blog</a></span> <span>Blog Single</span></p>
            </div>

          </div>
        </div>
      </div>
    </section>
    

    <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ftco-animate">
            <h2 class="mb-3">{{post.title}}</h2>
            <p>{{post.short_text}}</p>
              <img src="{{ post.image }}" alt="" class="img-fluid">
            <hr>
            <p>{{post.content}}</p>
            <div class="tag-widget post-tag-container mb-5 mt-5">
              <div class="tagcloud">
                <a class="tag-cloud-link">{{post.category}}</a>
              </div>
            </div>


            <div class="pt-5 mt-5">
              <h3 class="mb-5">Comments</h3>
              <ul class="comment-list">
                <!-- Comment -->
                {% for c in comments %}
                <li class="comment">
                  <div class="vcard bio">
                    <img src="https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg?size=338&ext=jpg&ga=GA1.1.1224184972.1714348800&semt=ais" alt="Image placeholder">
                  </div>
                  <div class="comment-body">
                    <h3>{{c.username}}</h3>
                    <div class="meta">{{c.date}}</div>
                    <p>{{c.body}}</p>
                  </div>
                </li>
                {% endfor %}
              </ul>
              <!-- END comment-list -->

              <div class="comment-form-wrap pt-5">
                <h3 class="mb-5">Leave a comment</h3>
                <form action="{% url 'post' id=post.pk %}" method="post">
                {% render_field form.username placeholder='Name' class+="form-control" style="margin-bottom: 5px; width: 30%"%}
                {% render_field form.body placeholder='Add comment' class+="form-control" style="margin-bottom: 5px" rows="4"%}
                {% csrf_token %}
                  <button type="submit" class="btn btn-primary" >Submit</button>
                </form>
              </div>
            </div>
          </div> <!-- .col-md-8 -->

          <div class="col-md-4 sidebar ftco-animate">
            <div class="sidebar-box ftco-animate">
              <div class="categories">
                <h3>Categories</h3>
                {% for c in category %}
                <li><a href="#">{{c.name}}</a></li>
                {% endfor %}
              </div>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>Recent Blog</h3>
              {% for r in ResentPosts %}
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url({{r.image}});"></a>
                <div class="text">
                  <h3 class="heading"><a href="">{{r.title}}</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> {{r.published_date}}</a></div>
                    <div><a href="#"><span class="icon-person"></span> {{r.author}}</a></div>
                    <div><a href="#"><span class="icon-chat"></span></a></div>
                  </div>
                </div>
              </div>
              {% endfor %}


            <div class="sidebar-box ftco-animate">
              <h3>Paragraph</h3>
              <p>Welcome to DaVinci Pizza, where every slice tells a story of flavor and craftsmanship. Step into a world where tradition meets innovation, where handcrafted pizzas and authentic Italian recipes await your palate. Join us on a culinary journey inspired by the timeless artistry of Leonardo da Vinci himself.</p>
            </div>
          </div>

        </div>
      </div>
    </section> <!-- .section -->


{% endblock %}