{% extends "base.html"%}
{% block content %}
{% load static %}
{% load widget_tweaks %}

    <section class="home-slider owl-carousel img" style="background-image: url({% static 'images/bg_1.jpg' %});">

      <div class="slider-item" style="background-image: url({% static 'images/bg_3.jpg' %});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center">

            <div class="col-md-7 col-sm-12 text-center ftco-animate">
            	<h1 class="mb-3 mt-5 bread">Contact Us</h1>
	            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Contact</span></p>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section contact-section">
      <div class="container mt-5">
        <div class="row block-9">
					<div class="col-md-4 contact-info ftco-animate">
						<div class="row">
							<div class="col-md-12 mb-4">
	              <h2 class="h4">Contact Information</h2>
	            </div>
	            <div class="col-md-12 mb-3">
	              <p><span>Address:</span> 1435 Broadway, New York, NY 10018, USA</p>
	            </div>
	            <div class="col-md-12 mb-3">
	              <p><span>Phone:</span> <a href="tel://16465594878">+1 646-559-4878</a></p>
	            </div>
	            <div class="col-md-12 mb-3">
	              <p><span>Email:</span> <a href="mailto:davincipizza10018@gmail.com">davincipizza10018@gmail.com</a></p>
	            </div>
	            <div class="col-md-12 mb-3">
	              <p><span>Website:</span> <a href="#">davincipizza10018.com</a></p>
	            </div>
						</div>
					</div>
					<div class="col-md-1"></div>
          <div class="col-md-6 ftco-animate">
            <form method="post" class="appointment-form">
	    				<div class="d-md-flex">
							{% csrf_token %}
		    				<div class="form-group">
								{% render_field Cform.user_name class="form-control" placeholder="Your Name"%}
		    				</div>
	    				</div>
	    				<div class="d-me-flex">
	    					<div class="form-group">
								{% render_field Cform.user_email class="form-control" placeholder="Your Email"%}
		    				</div>
	    				</div>
	    				<div class="form-group">
							{% render_field Cform.text class="form-control" placeholder="Message"%}
						</div>
						<div class="form-group">
<!--							<input type="submit" value="Send" class="btn btn-primary py-3 px-4">-->
							<button type="submit" style="margin-top: 4px" class="btn btn-primary py-3 px-4">Send</button>
						</div>
	    			</form>
          </div>
        </div>
      </div>
    </section>

    <div id="map"></div>
    

{% endblock %}