{% extends "base.html"%}
{% block content %}
{% load static %}

    <section class="home-slider owl-carousel img" style="background-image: url({% static 'images/bg_1.jpg' %});">

      <div class="slider-item" style="background-image: url({% static 'images/bg_3.jpg' %});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center">

            <div class="col-md-7 col-sm-12 text-center ftco-animate">
            	<h1 class="mb-3 mt-5 bread">Our Menu</h1>
	            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Menu</span></p>
            </div>

          </div>
        </div>
      </div>
    </section>

	<section>
    	<div class="container">

<!--			Pizza menu-->
    		<div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
          		<div class="col-md-7 heading-section text-center ftco-animate">
            		<h2 class="mb-4">Pizza</h2>
            		<p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
          		</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					{% for p in PizzaMenu2%}
					<div class="pricing-entry d-flex ftco-animate">
						<div class="img" style="background-image: url({{p.image.url}});"></div>
						<div class="desc pl-3">
							<div class="d-flex text align-items-center">
								<h3><span>{{p.name}}</span></h3>
								<span class="price">{{p.price}}</span>
							</div>
							<div class="d-block">
								<p>{{p.description}}</p>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="col-md-6">
					{% for p in PizzaMenu1%}
					<div class="pricing-entry d-flex ftco-animate">
						<div class="img" style="background-image: url({{p.image.url}});"></div>
						<div class="desc pl-3">
							<div class="d-flex text align-items-center">
								<h3><span>{{p.name}}</span></h3>
								<span class="price">{{p.price}}</span>
							</div>
							<div class="d-block">
								<p>{{p.description}}</p>
							</div>
						</div>
					</div>
				{% endfor %}
				</div>
			</div>
			<div class="text-center mb-5">
				<a href="#" class="btn col-md-4 btn btn-white btn-outline-white ftco-animate">Order Now</a>
			</div>
<!--			Pasta menu-->
			<div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
          		<div class="col-md-7 heading-section text-center ftco-animate">
            		<h2 class="mb-4">Pasta</h2>
            		<p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
          		</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					{% for p in PastaMenu2%}
					<div class="pricing-entry d-flex ftco-animate">
						<div class="img" style="background-image: url({{p.image.url}});"></div>
						<div class="desc pl-3">
							<div class="d-flex text align-items-center">
								<h3><span>{{p.name}}</span></h3>
								<span class="price">{{p.price}}</span>
							</div>
							<div class="d-block">
								<p>{{p.description}}</p>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="col-md-6">
					{% for p in PastaMenu1%}
					<div class="pricing-entry d-flex ftco-animate">
						<div class="img" style="background-image: url({{p.image.url}});"></div>
						<div class="desc pl-3">
							<div class="d-flex text align-items-center">
								<h3><span>{{p.name}}</span></h3>
								<span class="price">{{p.price}}</span>
							</div>
							<div class="d-block">
								<p>{{p.description}}</p>
							</div>
						</div>
					</div>
				{% endfor %}
				</div>
			</div>
			<div class="text-center mb-5">
				<a href="#" class="btn col-md-4 btn btn-white btn-outline-white ftco-animate">Order Now</a>
			</div>
			<!--			Salads menu-->
			<div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
          		<div class="col-md-7 heading-section text-center ftco-animate">
            		<h2 class="mb-4">Salads</h2>
            		<p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
          		</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					{% for s in SaladsMenu2%}
					<div class="pricing-entry d-flex ftco-animate">
						<div class="img" style="background-image: url({{s.image.url}});"></div>
						<div class="desc pl-3">
							<div class="d-flex text align-items-center">
								<h3><span>{{s.name}}</span></h3>
								<span class="price">{{s.price}}</span>
							</div>
							<div class="d-block">
								<p>{{s.description}}</p>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="col-md-6">
					{% for s in SaladsMenu1%}
					<div class="pricing-entry d-flex ftco-animate">
						<div class="img" style="background-image: url({{s.image.url}});"></div>
						<div class="desc pl-3">
							<div class="d-flex text align-items-center">
								<h3><span>{{s.name}}</span></h3>
								<span class="price">{{s.price}}</span>
							</div>
							<div class="d-block">
								<p>{{s.description}}</p>
							</div>
						</div>
					</div>
				{% endfor %}
				</div>
			</div>
			<div class="text-center mb-5">
				<a href="#" class="btn col-md-4 btn btn-white btn-outline-white ftco-animate">Order Now</a>
			</div>
	<!--			Drinks menu-->
			<div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
          		<div class="col-md-7 heading-section text-center ftco-animate">
            		<h2 class="mb-4">Drinks</h2>
            		<p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
          		</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					{% for d in DrinksMenu2%}
					<div class="pricing-entry d-flex ftco-animate">
						<div class="img" style="background-image: url({{d.image.url}});"></div>
						<div class="desc pl-3">
							<div class="d-flex text align-items-center">
								<h3><span>{{d.name}}</span></h3>
								<span class="price">{{d.price}}</span>
							</div>
							<div class="d-block">
								<p>{{d.description}}</p>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="col-md-6">
					{% for d in DrinksMenu1%}
					<div class="pricing-entry d-flex ftco-animate">
						<div class="img" style="background-image: url({{d.image.url}});"></div>
						<div class="desc pl-3">
							<div class="d-flex text align-items-center">
								<h3><span>{{d.name}}</span></h3>
								<span class="price">{{d.price}}</span>
							</div>
							<div class="d-block">
								<p>{{d.description}}</p>
							</div>
						</div>
					</div>
				{% endfor %}
				</div>
			</div>
			<div class="text-center mb-5">
				<a href="#" class="btn col-md-4 btn btn-white btn-outline-white ftco-animate">Order Now</a>
			</div>
		</div>
    </section>


{% endblock %}